.TimerPage{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
}
.TimerPage__counter{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.TimerPage__counter--numbers{
    align-items: center;
    justify-content: center;
    display: flex;
    column-gap: 20px;
    font-size: 80px;
    color: white;
}
.TimerPage__counter--numbers p{
    background-color: cornflowerblue;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    border: #909090 solid 2px;
    width: 100px;
}

